extends ../layout

block content
  .container
    .row
      .main
        form.form-horizontal(method="post", action="/payment/new")
          .form-group
            .col-sm-2
              input#inputNewpay.form-control(type="text", name="newpay", autocomplete="false")
            button.btn.btn-default(type="submit") 录入
      .pay-list