meta(name="viewport", content="width=device-width, initial-scale=1")
link(href="/css/style.css", rel="stylesheet")
link(rel="stylesheet", type="text/css", href='/libs/bootstrap/dist/css/bootstrap.min.css')
link(rel="stylesheet", type="text/css", href='/css/main.css')
script(src='/libs/jquery/jquery.min.js')
script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
script(src='/libs/underscore/underscore-min.js')
script(src='/libs/backbone/backbone-min.js')
script(src='/libs/backbone.marionette/lib/backbone.marionette.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/models.js')
script(src='/js/collections.js')
script(src='/js/views.js')
script(src='/js/routes.js')
script(src='/js/main.js')