.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header
			a.navbar-brand(href='/') Payment Records
		p.navbar-text.navbar-right
			span User: User
			span &nbsp;|&nbsp;
			a.navbar-link(href='/logout') Logout
			span &nbsp;|&nbsp;
			a.navbar-link(href='#', data-toggle='modal', data-target='#signinModal') Login
#signupModal.modal.fade
	.modal-dialog
		.modal-content
			form(method='POST', action='/u/signup')
				.modal-header Sign up
				.modal-body
					.form-group
						label(for='signupName') User
						input#signupName.form-control(name='user[name]', type='text')
					.form-group
						label(for='signupPassword') Password
						input#signupPassword.form-control(name='user[password]', type='text'
						)
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button.btn.btn-success(type='submit') Submit
#signinModal.modal.fade
	.modal-dialog
		.modal-content
			form(method='POST', action='/u/signin')
				.modal-header Sign in
				.modal-body
					.form-group
						label(for='signinName') User
						input#signinName.form-control(name='user[name]', type='text'
						)
					.form-group
						label(for='signinPassword') Password
						input#signinPassword.form-control(name='user[password]', type='text')
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button.btn.btn-success(type='submit') Submit