doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src='http://lib.sinaapp.com/js/jquery/1.10.1/jquery-1.10.1.min.js')