.container {
	width:100%;
	height:400px;
	background: white;
}

.wrapper {
	overflow: hidden;
	position:relative;
	width: 650px;
	height:400px;
	margin: 0 auto;
}

#slider {
	position: relative;
	width: 1000%;
	height: auto;
	right: 0;
	list-style: none;
	overflow: hidden;
	padding:0px;
	margin:0px;
	transition: all .6s ease;
}

#slider li {
	position: relative;
	float: left;
	width: 650px;
	border-right: 1px solid #4a4a4a;
}

#slider li div {
	width: 650px;
	height: 400px;
}

.prev, .next {
	position:absolute;
	display: none;
	top: 120px;
	height: 50px;
	width: 30px;
	opacity: 0.6;
}

.prev:hover, .next:hover {
	opacity: 0.9;
}

#prev {
	background: #000 no-repeat center;
	left: 0;
}

#next {
	background: #000 no-repeat center;
	right: 0;
}