body {
	padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main {
	width: 500px;
	margin: 15px auto;
}

.pay-list {
	width: 500px;
	height: auto;
	/*overflow: scroll;*/
	margin: 0 auto;
	border: 1px solid #ccc;
}