body {
	background-color: #e1e0e4;
	font-family: "Microsoft Yahei";
}
ul, li { list-style: none; float: left;}

#container {
	margin: 0 auto;
}
.col-md-10, .col-md-2 { border: 2px solid #D1D1D6; border-radius: 5px}

#logo { padding-left: 13px;}

/** chatbox **/
#chatbox {
    height: 400px;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}
#chatbox li {
	float: left;
	width: 99%;
	padding: 6px 0 17px 5px;
}
#chatbox img {
	max-width: 95%;
}
#chatbox .avatar {
	float:left;
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	background:green;
	color:#FFF;
	border-radius:2px 2px 2px 2px;
	margin: -1px 7px 0 0;
}
#chatbox .avatarRight {
	float:right;
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	background:green;
	color:#FFF;
	border-radius:2px 2px 2px 2px;
	margin: -1px 7px 0 0;
}
#chatbox .head { margin-left: 8px}
#chatbox .body a img { 
	margin: 0 8px 11px 11px;
}
#chatbox .boxleft {
	float:left;
	width:0;
	height:0;
	margin-top: 6px;
	border-width: 7px 11px 7px 0;
	border-style: solid solid solid none;
	border-color: transparent #f5f5f5 transparent transparent;
}
#chatbox .boxleft2 {
	float: left;
	min-width: 165px;
	max-width: 410px;
	background-color: #f5f5f5;
	border-radius: 3px;
	box-shadow: 14px 5px 40px -22px #222;
}
#chatbox .boxright {
	float:right;
	width:0;
	height:0;
	margin-top: 6px;
	border-width: 7px 11px 7px 0;
	border-style: solid solid solid none;
	border-color: transparent green transparent transparent;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}
#chatbox .boxright2 {
	float: right;
	color: #fff;
	min-width: 165px;
	max-width: 410px;
	background-color: green;
	border-radius: 3px;
	box-shadow: -12px 10px 54px -27px #222;
}
#chatbox .msgContent p { word-wrap:break-word; margin-left: 8px}

.timespan { float: right}

.imageLable { position: relative;}

#sendImg {
    position: absolute;
    width: 67px;
    left: 0;
    top: 2px;
    opacity: 0;
    overflow: hidden;
}

#emoWrapper {
	position: relative;
	display: none;
	width: 500px;
	left: 3px;
	bottom: 176px;
	background-color: #efefef;
	box-shadow: 0 1px 1px 2px #ccc;
}
#emoWrapper img {
	width: 25px;
	height: 25px;
	margin: 2px;
	padding: 2px;
}
#emoWrapper img:hover {background-color: #ff5432}

#niconWrapper {
	position: relative;
	display: none;
	width: 500px;
	height: 242px;
	bottom: 333px;
	left: 3px;
	overflow: scroll;
	background-color: #efefef;
	box-shadow: 0 1px 1px 2px #ccc;
}
#niconWrapper ul {
	width: 99%;
	background-color: #fff;
}
#niconWrapper ul li {
	margin-left: 32px;
	border: 1px solid #ccc;
}

/** controls **/
#controls {
	width: 99%;
}

.items { margin-top: -7px}
.sandbox { margin-top: 7px}
#messageInput { width: 260px}
#sendBtn { margin-top: -36px; margin-left: 4px; height: 44px}

/** Online list **/
#user-list ul { margin-left: -38px; margin-bottom: -5px;}
@media (min-width: 992px) {
	#user-list li { width: 99%; margin-bottom: 20px;}
}

/** Login nickname wrapper **/
#loginWrapper {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	display: block;
	padding-top: 200px;
	background-color: #ccc;
}

#nicknameWrapper { display: none}

.errors { border: 1px solid red}
.status {
	width: 8px; height: 8px; background: green; border-radius: 50px
}
.status span {
 	position: relative; left: 17px; top: -5px
}
.statusInline {
	width: 8px; height: 8px; background: green; border-radius: 50px; margin-right: 5px; display: inline-block
}