body {
	background-color: #e1e0e4;
	font-family: "Microsoft Yahei";
	height: 100%;
	margin: 0;
	padding: 0;
}
ul, li { list-style: none; float: left;}

#container {
	/*margin: 0 auto;*/
}
.col-md-10 { border-right: 2px solid #D1D1D6; }

#logo { padding-left: 13px; border-bottom: 1px solid #D1D1D6;}

.chat { height: 100%;}

/** chatbox **/
#chatbox {
    height: 100%;
    background-color: #F1F1F1;
    overflow: auto;
    padding: 2px;
}

#chatbox li {
	float: left;
	display: flex;
	width: 99%;
	padding: 6px 0 17px 5px;
}

#chatbox img {
	max-width: 95%;
}

#chatbox .self {
	justify-content: flex-end;
	align-items: flex-end;
}

/* avatar */
#chatbox .avatar {
	position: relative;
	float:left;
	height:40px;
	width:40px;
	line-height:42px;
	text-align:center;
	font-size:14px;
	background:green;
	color:#FFF;
}

#chatbox .avatar::after {
	content: "";
  	position: absolute;
  	top: 0;
  	right: 0;
  	width: 0;
  	height: 0;
  	border: 5px solid #fff;
  	border-left-color: transparent;
  	border-bottom-color: transparent;
}

#chatbox .avatarRight {
	position: relative;	
	order: 2;
	height:40px;
	width:40px;
	line-height:42px;
	text-align:center;
	font-size:14px;
	background:green;
	color:#fff;
}

#chatbox .avatarRight::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 5px solid #fff;
	border-right-color: transparent;
	border-top-color: transparent;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#chatbox .head { margin-left: 8px}

#chatbox .body a img { 
	padding: 9px 9px;
}

#chatbox .boxleft2 {
	float: left;
	min-width: 165px;
	max-width: 410px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#chatbox .boxright {
	float:right;
	width:0;
	height:0;
	margin-top: 6px;
	border-width: 7px 11px 7px 0;
	border-style: solid solid solid none;
	border-color: transparent green transparent transparent;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}
#chatbox .boxright2 {
	float: right;
	color: #fff;
	min-width: 165px;
	max-width: 410px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#chatbox .boxright2 .msgContent p { color: #222}

#chatbox .msgContent p { word-wrap:break-word; margin: 4px 8px 0 8px; color: red;}

.imageLable { position: relative;}

#sendImg {
    position: absolute;
    width: 67px;
    left: 0;
    top: 2px;
    opacity: 0;
    overflow: hidden;
}

/* emoji wrapper */
#emoWrapper {
	position: relative;
	display: none;
	width: 500px;
	left: 3px;
	bottom: 176px;
	background-color: #efefef;
	box-shadow: 0 1px 1px 2px #ccc;
}

#emoWrapper img {
	width: 25px;
	height: 25px;
	margin: 2px;
	padding: 2px;
}

#emoWrapper img:hover {background-color: #ff5432}

#niconWrapper {
	position: absolute;
	display: none;
	width: 500px;
	height: 242px;
	bottom: 99px;
	left: 3px;
	overflow: scroll;
	background-color: #efefef;
	box-shadow: 0 1px 1px 2px #ccc;
}

#niconWrapper ul {
	width: 100%;
	background-color: #fff;
}

#niconWrapper ul li {
	margin-left: 32px;
	border: 1px solid #ccc;
}

/** controls **/
#controls {
	position: absolute;
	width: 99%;
	bottom: 0;
	margin-left: 8px;
}

.items { margin-top: -7px;}
.sandbox { margin-top: 2px; width: 100%; background-color: #fff;}
#messageInput { width: 90%;}
#sendBtn { margin-top: -36px; margin-left: 4px; width: 8%;height: 44px;}

/** Online list **/
#user-list ul { margin-left: -38px; margin-bottom: -5px;}
@media (min-width: 992px) {
	#user-list li { width: 99%; margin-bottom: 20px;}
}

/** Login nickname wrapper **/
#loginWrapper {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	display: block;
	padding-top: 200px;
	background-color: #ccc;
}

#nicknameWrapper { display: none}

.errors { border: 1px solid red}

.time { 
	font-size: 0.7rem;
	color: #ccc;
	margin-left: 9px;
}

.status {
	width: 8px; height: 8px; background: green; border-radius: 50px
}

.status span {
 	position: relative; left: 17px; top: -5px
}

.statusInline {
	width: 8px; height: 8px; background: green; border-radius: 50px; margin-right: 5px; display: inline-block
}