doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src='http://lib.sinaapp.com/js/jquery/1.10.1/jquery-1.10.1.min.js')
  //script(src='https://cdn1.lncld.net/static/js/av-mini-0.6.4.js')
  //script.
    AV.initialize('PG2Eoc7wp4F7fzCr8z2RERMW-gzGzoHsz', 'UdRYVXxsPgPRpppRPaGJJ8oV')